@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "UhBeepuding";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeepuding.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

header {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
  font-family: "Pretendard-Regular";
  color: #74b9ff;
  padding: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
}

nav {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #74b9ff; 
  display: flex;  
  align-items: center;
  gap: 5px;  
}

.logo:hover {
  text-decoration: none; /* 밑줄 제거 */
  color: #2893db; 
}

a.logo {
  display: inline-block; /* 클릭 가능한 범위를 로고 크기에 맞춤 */
  padding: 10px 15px;  /* 클릭 가능 영역 확대 */
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.links > li {
  font-size: 20px;
  padding: 8px 12px;
  border-radius: 10px;
  border: none;
  transition: all 0.3s;
  list-style: none;
}
.links > li:hover {
  background-color: #85ceff;
  color: white;
  opacity: 0.8;
}

.links a {
  text-decoration: none;  /* 밑줄 제거 */
  font-size: 20px;
  border-radius: 10px;
  color: #74b9ff; 
  transition: all 0.3s;
  display: block; /* 블록 요소로 만들어서 클릭 영역 확대 */
}

.links a:hover {
  background-color: #85ceff;
  color: white;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 20px;
  }

  @media screen and (max-width: 800px) {
    .links {
      flex-direction: row;  
      justify-content: center;
    }
  
    .links li {
      font-size: 8px;  
      padding: 2px 4px;
      display: inline-block; 
    }
  
    .links a {
      font-size: 20px;
      padding: 2px 4px;
    }
  }

}


footer {
  width: 100vw;
  bottom: 0px;
  z-index: 1;
  font-family: "Pretendard-Regular";
  color: white;
  padding: 60px 0;
  background-color: #2893db;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.footers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
