.contact {
  padding: 50px 0 80px; /* 푸터와 간격 벌리기 */
  text-align: left;
}

/* 컨택 내용 배치 */
.contactbox {
  display: flex;
  align-items: center;
}


.contact-links {
  flex: 1; /* div들을 동일한 크기로 맞춤 */
  margin-left: 30px;
}


.contactbox p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}


.contactbox i {
  font-size: 18px;
  margin-right: 8px;
  color: #2893db;
}


.contactbox span,
.contactbox a {
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.contactbox a:hover {
  color: #2893db;
}


@media screen and (max-width: 768px) {
  .contactbox {
    flex-direction: column;
    text-align: center;
  }

  .contact-info,
  .contact-links {
    width: 100%;
    margin-left: 0;
  }
}
