.contact {
  padding: 50px 0 80px; /* 푸터와 간격 벌리기 */
  text-align: left;
}


.contactbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

@media (max-width: 768px) { 
  .contactbox {
    flex-direction: column;
    gap: 0;
  }

  .contactbox > div:first-child {
    margin-right: 0;
  }
}

.contact-links {
  flex: 1; /* div들을 동일한 크기로 맞춤 */
  margin-left: 30px;
}


.contactbox p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}


.contactbox i {
  font-size: 18px;
  margin-right: 8px;
  color: #2893db;
}


.contactbox span,
.contactbox a {
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.contactbox a:hover {
  color: #2893db;
}


@media screen and (max-width: 768px) {
  .contactbox {
    flex-direction: column;
    text-align: center;
  }

  .contact-info,
  .contact-links {
    width: 100%;
    margin-left: 0;
  }

  /* 텍스트 정렬 및 균등한 여백 */
  .contactbox p {
    margin: 5px auto;
    text-align: center;
    width: 90%; /* 너무 넓지 않게 조정 */
  }

  .contactbox {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}
