.topimage {
  /* width: 100vw; */
  max-width: 1200px;
  min-width: 1000px;
  height: 200px;
  position: relative;
  background-image: url(./img/main.jpg);
  background-size: cover;
  margin: 0 auto;
  background-position: center;
  margin-top: 75.96px;
  padding: 10px;


}
.centered {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

h5 {
  font-size: 50px;
  font-family: "Pretendard-Regular";
  color: #2980b9;
  margin-right: 50px;
  padding-bottom: 12px;
}

section {
  padding: 40px 0px 40px 0px;
}
