.topimage {
  /* width: 100vw; */
  max-width: 1200px;
  min-width: 1000px;
  height: 200px;
  position: relative;
  background-image: url("../image/main.jpg");
  background-size: cover;
  margin: 0 auto;
  background-position: center;
  margin-top: 75.96px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .topimage {
    display: none;
  }

  .about-me {
    padding-top: 250px;
  }
}

@media screen and (max-width: 768px) {
  .centered {
    max-width: 95%;
    margin: 0 auto;
    text-align: center; /* 내부 텍스트도 가운데 정렬 */
  }

  /* 모든 섹션 중앙 정렬 */
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* CONTACT 정보도 중앙 정렬 */
  .contactbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* FOOTER도 가운데 정렬 */
  footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.centered {
  max-width: 95%;
  margin: 0 auto;
}

h5 {
  font-size: 50px;
  font-family: "Pretendard-Regular";
  color: #2980b9;
  margin-right: 50px;
  padding-bottom: 12px;
}

section {
  padding: 40px 0px 40px 0px;
}

/* 기본적으로 메뉴 숨기기 */
.menu-toggle {
  display: none; /* 기본적으로 숨김 */
  cursor: pointer;
  font-size: 24px;
  color: #74b9ff;
}

/* 모바일에서 화살표 버튼 표시 */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  /* 기본적으로 메뉴 숨기기 */
  .links {
    display: none;
    flex-direction: column;
    width: 100%;
    background: white;
    position: absolute;
    top: 60px;
    left: 0;
    text-align: center;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    max-height: 0; /* 처음에는 높이를 0으로 설정 */
  }

  /* 펼쳐졌을 때 */
  .links.active {
    display: flex;
    max-height: 300px; 
  }

  /* 화살표 회전 효과 */
  .menu-toggle.active i {
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 768px) {
  .nav-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .menu-toggle {
    margin-top: 12px;
    font-size: 20px;
    cursor: pointer;
  }
}
