.portfolio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
}

.projects-title {
  flex: 1;
  text-align: right;
  font-size: 40px;
  font-family: "Pretendard-Regular";
  color: #2980b9;
  margin-right: 50px;
}


.projects-grid {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2x2 배열 */
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  
}

.projectbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.projectbox a {
  text-decoration: none; 
  font-weight: bold; 
  transition: color 0.3s ease-in-out; 
}


.portfolio-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  width: 100%; /* 부모 요소 크기에 맞게 조정 */
  aspect-ratio: 16 / 9; /* 모든 이미지 동일한 비율 유지 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa; /* 빈 공간 대비 배경 추가 */
}

.portfolio-item img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  transition: transform 0.3s ease-in-out;
}

.portfolio-item:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  /* 클릭 이벤트 방지 */
  pointer-events: none;
}

/* 마우스를 올리면 오버레이가 보이도록 */
.portfolio-item:hover .overlay {
  opacity: 1;
}

.overlay h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.overlay span {
  font-size: 16px;
}



@media screen and (max-width: 905px) {
  .projects-grid {
    grid-template-columns: 1fr; /* 한 줄 */
  }

  .overlay {
    padding: 10px;
  }

  .overlay h3 {
    font-size: 16px;
  }

  .overlay span {
    font-size: 12px;
  }
}